.link {
  text-decoration: none;
}

.list {
  /*display: none;*/
  list-style: none;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 8px;
  padding-right: 8px;
  max-width: 1280px;
  position: relative;
}

/*header*/

.header-position-element {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 28px;
  margin-top: 16px;
}

.header-link-li {
  color: black;
}

.position-tel-menu {
  display: flex;
  align-items: center;
  gap: 14px;
}

.listed {
  display: flex;
  gap: 48px;
  margin-left: 261px;
  max-width: 565px;
}

.list-li-header {
  color: #fff;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.nav-logo {
  display: flex;
  align-items: center;
}
/*hero*/

.div-for-text {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.title-hero {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  font-size: 160px;
  font-weight: bold;
  text-align: center;
  margin-top: -60px;
}

.text-hero {
  text-align: center;
  color: black;
  font-family: Montserrat;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.div-for-pandbutton {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.btn-svg {
  text-decoration: none;
  border: none;
  background-color: #ffffff;
}

/*about*/

.text-about {
  color: #000;
  font-family: Montserrat;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 510px;
}

.title-about {
  margin-right: 14px;
  font-size: 44px;
}

.about-div {
  padding-top: 100px;
  padding-bottom: 60px;
}

.text-and-picture {
  display: flex;
  gap: 90px;
  align-items: center;
}

/*delivery*/

.title-delivery {
  margin-right: 14px;
  font-size: 44px;
}

/*blog*/

.picture-step {
  padding-left: 0;
  display: flex;
  gap: 16px;
  margin-bottom: 0;
  justify-content: center;
}

.svg-blog-div {
  text-align: center;
}

.text-p-blog {
  color: #000;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 0;
}

.btn-blog {
  width: 208px;
  height: 44px;
  padding: 14px 28px;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 38px;
  background: #b56a5a;
  display: block;
  margin: 0 auto;
  margin-top: 24px;
  margin-bottom: 100px;
}

.title-blog {
  margin-right: 14px;
}

.vertical-line {
  flex: 1;
  border-top: 1px solid black;
}

.conteiner-for-line {
  display: flex;
  align-items: center;
}

.picture-blog-1 {
  background-color: #b56a5a;
  padding: 8px;
  border-radius: 10px;
}

.picture-blog {
  background-color: #b56a5a;
  padding: 8px;
  border-radius: 10px;
}

.conteiner-for-lines {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 8px;
}

.list-store-text {
  font-size: 30px;
}

.span-list-store {
  font-size: 20px;
  margin-bottom: 8px;
}

/*footer*/

.last-footer {
  background-color: #000;
  color: #ffffff;
}

.together-footer {
  display: flex;
  justify-content: space-around;
}

.together-footer2 {
  display: flex;
  justify-content: space-between;
}

.three-block-ul {
  margin: 0px;
  padding: 0px;
}

.two-block-footer {
  display: flex;
  flex-direction: column;
}

.svg-footer {
  fill: black;
  stroke: white;
}

.last-footer {
  padding-bottom: 30px;
}

.mail-footer-address {
  text-decoration: none;
  color: white;
  font-style: normal;
  margin-bottom: 10px;
}

.tel-footer-address {
  text-decoration: none;
  color: white;
  font-style: normal;
}

.footer-address-text {
  text-decoration: none;
  color: white;
  font-style: normal;
}

.three-block-li {
  margin-bottom: 4px;
}

.three-block-footer {
  margin-left: 100px;
}

.four-block-footer {
  margin-top: 30px;
  margin-right: 100px;
}

.four-block-ul {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
